{% if basis_type == "PoliceCustody" %}
<fieldset>
  <legend>{{ t.get("basis-form-police-custody-legend") }}</legend>

  <label>
    {{ t.get("basis-form-arrest-date") }} *
    <input type="date" name="arrest_date" required>
  </label>

  <label>
    {{ t.get("basis-form-arrest-authority") }} *
    <input type="text" name="arresting_authority" required>
  </label>

  <label>
    {{ t.get("basis-form-must-appear") }}
    <input type="date" name="must_appear_by">
  </label>
</fieldset>

{% else if basis_type == "RemandAwaitingTrial" %}
<fieldset>
  <legend>{{ t.get("basis-form-remand-legend") }}</legend>

  <label>
    {{ t.get("basis-form-first-appearance") }}
    <input type="date" name="first_appearance_date">
  </label>

  <label>
    {{ t.get("basis-form-next-court-date") }}
    <input type="date" name="next_court_date">
  </label>

  <label>
    {{ t.get("basis-form-remand-review") }}
    <input type="date" name="remand_review_due">
  </label>
</fieldset>

{% else if basis_type == "OnTrial" %}
<fieldset>
  <legend>{{ t.get("basis-form-on-trial-legend") }}</legend>

  <label>
    {{ t.get("basis-form-trial-start") }}
    <input type="date" name="trial_start_date">
  </label>

  <label>
    {{ t.get("basis-form-next-court-date") }}
    <input type="date" name="next_court_date">
  </label>
</fieldset>

{% else if basis_type == "ConvictedUnsentenced" %}
<fieldset>
  <legend>{{ t.get("basis-form-convicted-legend") }}</legend>

  <label>
    {{ t.get("basis-form-conviction-date") }}
    <input type="date" name="conviction_date">
  </label>

  <label>
    {{ t.get("basis-form-sentencing-date") }}
    <input type="date" name="sentencing_date">
  </label>
</fieldset>

{% else if basis_type == "Sentenced" %}
<fieldset>
  <legend>{{ t.get("basis-form-sentenced-legend") }}</legend>

  <label>
    {{ t.get("basis-form-sentence-date") }} *
    <input type="date" name="sentence_date" required>
  </label>

  <label>
    {{ t.get("basis-form-sentence-days") }} *
    <input type="number" name="sentence_days" min="1" required>
  </label>
</fieldset>

{% else if basis_type == "NoLegalBasis" %}
<fieldset>
  <legend>{{ t.get("basis-form-no-basis-legend") }}</legend>

  <label>
    {{ t.get("basis-form-circumstances") }} *
    <textarea name="circumstances" rows="4" required placeholder="{{ t.get("basis-form-no-basis-placeholder") }}"></textarea>
  </label>
</fieldset>

{% endif %}
